<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav>
        <div>
            <a href="/" class="brand-logo center">
                Subscribe To Pewdiepie <i><img src="gamepad-controller.png" style='height:45px;width:45px;margin-top:10px'/></i>
            </a>
        </div>
    </nav>
</header>
<main class="container">
